.weather-background {
    background-color: rgb(17, 11, 41); 
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
}

.weather-card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #e0f2f1; 
    padding: 20px;
    transition: transform 0.3s ease;
}

.weather-card:hover {
    transform: scale(1.02); 
    cursor: pointer;
}

.stylish-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.icon-hover {
    transition: filter 0.3s ease; 
}

.icon-hover:hover {
    filter: brightness(1.2);
}

.blurred-bg {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(150, 220, 255, 0.5); 
    filter: blur(10px);
    z-index: -1;
    border-radius: 12px; 
}
