.weather_main_div {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; 
    background-color: rgb(17, 11, 41); 
    padding: 2rem;
    border-radius: 0.2rem; 
    color: #fff; 
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.name_temp {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
}

.name_temp h3 {
    margin: 0;
    font-size: 1.5rem; 
}

.name_temp p {
    margin: 5px 0 0; 
    font-size: 1rem; 
}

.icon_con {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
}

.icon_con img {
    width: 25px; 
    height: 25px; 
    margin-right: 10px; 
}

.icon_con p {
    margin: 0; 
    font-size: 1rem; 
}

@media (max-width: 768px) {
    .weather_main_div {
        flex-direction: column;
        align-items: flex-start; 
        padding: 1rem;
    }

    .icon_con {
        align-items: flex-end;
        margin-top: 1rem;
    }
}
