/* src/components/Weather.css */

.weather_main_div {
    display: flex; /* Use flexbox for layout */
    flex-direction: row;
    justify-content: space-between; /* Distribute items evenly */
    align-items: flex-end; /* Center items vertically */
    background-color: rgb(17, 11, 41); /* Dark background color */
    padding: 20px;
    border-radius: 0.2rem; /* Border radius for the dark background */
    color: #fff; /* Text color */
}

.name_temp {
    display: flex; /* Use flexbox for inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Left align items */
}

.name_temp h3 {
    margin: 0;
    font-size: 1.5rem; /* Font size for city name */
}

.name_temp p {
    margin: 5px 0 0; /* Adjust margin for temperature */
    font-size: 1rem; /* Font size for temperature */
}

.icon_con {
    display: flex; /* Use flexbox for inner layout */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; 
}

.icon_con img {
    width: 25px; /* Adjust icon size */
    height: 25px; /* Adjust icon size */
    margin-right: 10px; /* Margin to separate icon from description */
}

.icon_con p {
    margin: 0; /* Remove default margin */
    font-size: 1rem; /* Font size for description */
}
